{% extends 'base/main.html' %} {% block content %}

<div class="px-4 pt-5 text-center border-bottom bg-light bg-gradient vh-100">
    <h1 class="display-4 fw-bold" style="color: #00A8A9;">About Us</h1>
    <div class="col-lg-8 mx-auto">
      <p class="lead mb-4">Reuse Platform for valuable materials in KAIZEN to reduce scrap metals waste disposal.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-dark rounded-pill btn-lg px-4 me-sm-3">Read More</button>
      </div>
    </div>
  </div>

{% endblock %}
