<!DOCTYPE html> {% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>KoonKah</title>
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm px-md-3"
      aria-label="navbar"
    >
      <div class="container-fluid mx-3">
        <a class="navbar-brand" href="{% url 'home' %}"
          ><img
            src="{% static 'images/kubotaLogo.png' %}"
            alt="Kubota Logo"
            width="32"
            height="32"
        /></a>

        <!-- <span class="fw-bold">KoonKah</span> -->

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample04"
          aria-controls="navbarsExample04"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarsExample04">
          <ul
            class="navbar-nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'home' %}"
                >หน้าแรก</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'item' %}">รายการวัสดุ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'category' %}">หมวดหมู่</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Watchlist</a>
            </li> -->
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'user-profile' request.user.id %}"
                >My KoonKah</a
              >
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">เกี่ยวกับเรา</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Features</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown04">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li> -->
          </ul>

          <form
            class="d-flex align-items-center"
            action="{% url 'search' %}"
            method="GET"
          >
            {% csrf_token %}
            <input
              type="search"
              name="q"
              class="form-control rounded-pill ps-3 mb-3 mb-md-0 w-75 mx-auto"
              placeholder="ค้นหา ..."
              aria-label="Search"
            />
          </form>
          <!-- <form>
                        <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
                    </form> -->
          <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control rounded-pill" placeholder="Search ..." aria-label="Search"> -->

          {% if user.is_authenticated %}
          <a
            class="nav-link text-decoration-none p-2 text-capitalize"
            href="#"
            style="color: #00a8a9"
            ><span class="fw-bold"
              >{% if user.first_name %} {{ user.first_name|title }} {% else %}
              {{ user.username }} {% endif %}</span
            ></a
          >
          {% endif %}
          <a
            class="nav-link px-2"
            href="{% url 'user-profile' request.user.id %}"
          >
            <!-- <img
              src="{% static 'images/users/15509.jpg' %}"
              alt="profile-image"
              width="40"
              height="40"
              class="rounded-circle border border-1 border-info"
          /> -->
            <!-- <img src="{% static 'images/users/' %}{{request.user.first_name|lower}}_{{request.user.last_name|lower|first}}.jpg" alt="Profile Image" width="42" height="42" class="border border-2 border-success rounded-circle"> -->

            <i class="fa-solid fa-circle-user text-secondary fs-2"></i>
          </a>

          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link link-dark p-2"
                ><span>ออกจากระบบ</span></a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link link-dark p-2"
                ><span>ลงชื่อเข้าใช้</span></a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% if messages %} {% for message in messages %}
    <div
      class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
      role="alert"
    >
      <div>{{ message }}</div>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        aria-hidden="true"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <div class="bg-light bg-gradient pb-5 mh-100">
      {% block content %} {% endblock %}
    </div>

    <footer class="footer fixed-bottom mt-auto py-3 bg-light d-sm-block d-none">
      <div class="container">
        <span class="text-muted"
          >Copyright © 2022 SIAM KUBOTA Corporation. All Rights Rerserved.</span
        >
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
